<div id="footer01Container">
    <mat-card id="footer01CardContainer">
        <mat-card-footer id="footer01ButtonContainer">
            <div>
                <button mat-icon-button class="footer01Button" color="primary" aria-label="Go Back"
                (click)="backClicked()">
                    <mat-icon class="material-symbols-outlined">undo</mat-icon>
                </button>
            </div>
            <div class="footer01Button" routerLink="/page-main" routerLinkActive="footer01ButtonSelected">
                <button mat-icon-button aria-label="Home Page">
                    <mat-icon class="material-symbols-outlined"  routerLinkActive="footer01IconSelected">home</mat-icon>
                </button>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                <button mat-icon-button class="footer01Button" color="primary" aria-label="Main Volume Mute">
                    <mat-icon class="material-symbols-outlined">volume_off</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button class="footer01Button" color="primary" aria-label="Main Volume Down">
                    <mat-icon class="material-symbols-outlined">volume_down</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button color="primary" aria-label="Main Volume Up">
                    <mat-icon class="material-symbols-outlined">volume_up</mat-icon>
                </button>
            </div>
            <div>
                <button mat-icon-button color="primary" aria-label="Volume Mixer">
                    <mat-icon class="material-symbols-outlined">tune</mat-icon>
                </button>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div>
                <button mat-icon-button class="footer01Button" color="primary" aria-label="System Power">
                    <mat-icon class="material-symbols-outlined" color="warn">power_settings_new</mat-icon>
                </button>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
