#footer01Container{
    width: 100%;
    display: flex;
    justify-content: center;
}
#footer01CardContainer{
    position:fixed;
    bottom: 0;
    padding-top: 0%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#footer01ButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: fit-content;
    max-width: fit-content;    
}
.footer01Button{
    margin-left: 5px;
    margin-right: 5px;
}