#menuContainer{
    height: 100%;
    width: 100%;
}
#menuNav{
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 0 0 !important;
}
#navContainer{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}
#navContainerTop{
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
}
#navContainerMiddle{
    margin: auto;
}
#navContainerBottom{
    padding-top: 10px;
    margin-top: auto;
    margin-bottom: 0;
}
.navButton{
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 5px;
    border: 0;
    outline: 0;
    box-shadow: none;
    color: var(--color--primary);
}
.navButtonSelected{
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 0;
    margin-bottom: 5px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 1px 0px 2px inset;
    color: var(--color--primary);
}
.navIconSelected{
    color: var(--color--accent)
}
.navButtonText{
    margin-left: 10px;
    margin-right: 10px;
    display: inline;    
}
#contentContainer{
    height: 100%;
    width: 100%;
}
#menuContent{
    padding-left: 5%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
}