<mat-sidenav-container id="menuContainer" [hasBackdrop]="false" fullscreen>
        <mat-sidenav id="menuNav" #sideNav autoFocus="false" disableClose="true" mode="over" position="start" [opened]=true>
            <div id="navContainer">
                <div id="navContainerTop">
                    <div class="navButton" (click)="sideNavExpand()">
                        <button mat-icon-button color="primary" aria-label="Expand the Menu">
                            <mat-icon class="material-symbols-outlined" *ngIf="!isExpandedSideNav">menu</mat-icon>
                            <mat-icon class="material-symbols-outlined" *ngIf="isExpandedSideNav">menu_open</mat-icon>
                        </button>
                        <div class="navButtonText" *ngIf="isExpandedSideNav">Menu</div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div id="navContainerMiddle">
                    <div class="navButton" *ngFor="let link of navLinks" routerLink="{{ link.location }}" [routerLinkActiveOptions]="routerLinkActiveOptions" routerLinkActive="navButtonSelected">
                        <button mat-icon-button color="primary">
                            <mat-icon class="material-symbols-outlined" [routerLinkActiveOptions]="routerLinkActiveOptions" routerLinkActive="navIconSelected">{{ link.icon }}</mat-icon>
                        </button>
                        <div class="navButtonText" *ngIf="isExpandedSideNav">{{ link.label }}</div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div id="navContainerBottom">
                    <div class="navButton">
                        <button mat-icon-button color="primary" aria-label="System Settings">
                            <mat-icon class="material-symbols-outlined">settings</mat-icon>
                        </button>
                        <div class="navButtonText" *ngIf="isExpandedSideNav">Settings</div>
                    </div>
                </div>
            </div>
        </mat-sidenav>
        <mat-sidenav-content id="contentContainer">
            <app-header01></app-header01>
            <div id="menuContent">
                <router-outlet></router-outlet>
            </div>
            <app-footer01></app-footer01>
        </mat-sidenav-content>
</mat-sidenav-container>