<mat-toolbar>
    <mat-toolbar-row>
        <div id="header01ContainerLeft"></div>
        <div id="header01ContainerMiddle">
            <button 
            class="header01Button"
            mat-icon-button 
            *ngFor="let statusNotification of statusNotifications"
            color="{{ statusNotification.color }}">
                <mat-icon class="material-symbols-outlined">{{ statusNotification.icon }}</mat-icon>
            </button>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div id="header01ContainerRight">{{ roomName }}</div>
    </mat-toolbar-row>
</mat-toolbar>