<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div id="header01ContainerLeft"></div>
        <div id="header01ContainerMiddle">
            <button class="header01Button" mat-icon-button color="warn">
                <mat-icon class="material-symbols-outlined">mic_off</mat-icon>
            </button>
            <button class="header01Button" mat-icon-button color="warn">
                <mat-icon class="material-symbols-outlined">volume_off</mat-icon>
            </button>
            <button class="header01Button" mat-icon-button color="warn">
                <mat-icon class="material-symbols-outlined">videocam_off</mat-icon>
            </button>
            <button class="header01Button" mat-icon-button color="warn">
                <mat-icon class="material-symbols-outlined">cloud_off</mat-icon>
            </button>
            <button class="header01Button" mat-icon-button color="warn">
                <mat-icon class="material-symbols-outlined">timer_off</mat-icon>
            </button>
            <mat-divider [vertical]="true"></mat-divider>
        </div>
        <div id="header01ContainerRight">Room Name</div>
    </mat-toolbar-row>
</mat-toolbar>