#header01ContainerLeft{
    margin-left: 0; 
    margin-right: auto;
}
#header01ContainerMiddle{
    margin-left: auto; 
    margin-right: 10px;
    display: flex;
    justify-content: right;
}
#header01ContainerRight{
    margin-left: 0; 
    margin-right: 0;
}
.mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: var(--color--primary);
}
.header01Button{
    margin: 5px;
}
.header01ButtonIcon{
    margin: auto;
}